/* PasswordBaru.css */

@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  animation: modalIn 0.5s forwards;
}

.modal-background {
  opacity: 0;
  animation: fadeInBackground 0.5s forwards;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
